---
import './src/styles/global.css'
---
<section id="aboutme">
    <div class="bg-[#0f172a] flex text-center flex-col">
        <h3 class="font-bold text-4xl m-10">¿WHO AM I?</h3>
        <br>
        <div class="p-2">
            <p class="p-6">
                Hello! I'm 22 years old and have always been passionate about technology and its capabilities since I was a kid. Besides enjoying soccer, video games, and spending time with my friends, I find web development a way to express my creativity, interest in the industry, and my constant desire to improve.
            </p>
            <p class="text-violet-800 p-6">
                I'm currently training and working with technologies such as HTML, Tailwind CSS, Javascript, React, Node.js, MySQL, and more, seeking professional growth in the IT sector. I consider myself a responsible, committed person, always willing to learn new things.
            </p>
            <p class="font-semibold p-6">
                I'm open to new challenges that allow me to continue growing, contribute my knowledge, and be part of innovative projects.
            </p>
        
        </div> 
    </div>
</section>