<section id="myproyects" class="m-14">

    <div class="m-3">
        <h1 class="flex justify-center text-center font-bold text-4xl m-12">Skills</h1>

            <!--LOGO HTML -->
        <div class="flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/html.png" alt="HTML" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">HTML</span>
        </div>

            <!--LOGO CSS -->
        <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/css3.png" alt="CSS" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">CSS</span>
        </div>

            <!--LOGO JavaScript -->
        <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/javascript.png" alt="JavaScript" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">JavaScript</span>
        </div>

            <!--LOGO TAILWIND -->
        <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/tailwind.png" alt="Tailwind" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">Tailwind</span>
        </div>

            <!--LOGO React -->
        <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/react.webp" alt="React" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">React</span>
        </div>

            <!--LOGO .Net -->
        <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/vb2.png" alt="VB.NET" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">VB.NET</span>
        </div>

           <!--LOGO Python -->
           <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/python4.png" alt="Python" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">Python</span>
        </div>

          <!--LOGO SQL -->
          <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/sql2.jpg" alt="SQL" class="w-36 h-26 mb-2" />
            <span class="text-black font-bold">SQL</span>
        </div>

         <!--LOGO Git -->
         <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/git.png" alt="GIT" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">GIT</span>
        </div>

        <!--LOGO Node -->
        <div class="m-3 flex-col justify-items-center p-5 border-4 max-w-xs bg-white mx-auto rounded-3xl hover:scale-105 duration-300">
            <img src="/galery/node.png" alt="NodeJS" class="w-24 h-24 mb-2" />
            <span class="text-black font-bold">NodeJS</span>
        </div>
    </div>
    <br>
    <br>
    <hr class="m-12">
    <div>

        <h1 class="flex justify-center text-center font-bold text-4xl p-8">My Proyects</h1>
        <div class="grid gap-8 md:grid-cols-2">

            <!-- Proyecto 1 -->
            <div class="relative bg-cover bg-center rounded-xl shadow-md p-6 hover:scale-105 transition-transform h-64 text-white"
                style="background-image: url('/galery/stations.jpg');">
              <h3 class="text-xl font-semibold mb-2">Servi</h3>
              <p class="mb-4 text-gray-300">Aplicación Web de gestión de una estación de servicio.</p>
              <a href="https://servistation.vercel.app" class="text-blue-400 hover:underline">Ver proyecto</a>
            </div>
      
            <!-- Proyecto 2 -->
            <div class="relative bg-cover bg-center rounded-xl shadow-md p-6 hover:scale-105 transition-transform h-64 text-white"
                style="background-image: url('/galery/juzgado.jpg');">
              <h3 class="text-xl font-semibold mb-2">Sistema Juzgados</h3>
              <p class="mb-4 text-gray-300">Software para manejo administrativo de datos.</p>
              <a href="https://github.com/TomasGastonSanchez/SistemaJuzgado" class="text-blue-400 hover:underline">Ver proyecto</a>
            </div>

            <!-- Proyecto 3 -->
            <div class="relative bg-cover bg-center rounded-xl shadow-md p-6 hover:scale-105 transition-transform h-64 text-white"
                style="background-image: url('/galery/tienda.jpg');">
              <h3 class="text-xl font-semibold mb-2">Aplicación Tienda</h3>
              <p class="mb-4 text-gray-300">API usando métodos de auténticacion y roles (JWT Token).</p>
              <a href="https://github.com/TomasGastonSanchez/ProyectoTienda" class="text-blue-400 hover:underline">Ver proyecto</a>
            </div>

            <!-- Proyecto 4 -->
            <div class="flex-auto bg-gray-700 rounded-xl shadow-md p-6 hover:scale-105 transition-transform">
              <h3 class="text-xl font-semibold mb-2 text-center flex items-center justify-center">Proximamente...</h3>
              
            </div>
    </div>

</section>