---
import './src/styles/global.css'
---

<div id="container">
	<main class="flex-auto">
		<div class="relative"> 
			<img class="w-full h-full" src="/src/galery/portada.jpg" alt="portada">
			<div class="absolute inset-0 flex flex-col m-20">
				<h1 class="text-center font-bold text-7xl flex items-start justify-center m-2">WELCOME</h1>
				<div>
					<h1 class="text-center font-bold text-7xl flex items-start justify-center text-indigo-600">I'm Tomás</h1>
				</div>
			</div>
		</div>
	</main>

</div>


