<section id="welcome">
	<div id="container">
		<main class="flex-auto pt-32">
			<div class="relative"> 
				<img class="w-full h-full" src="/src/galery/portada2.jpg" alt="portada">
				<div class="absolute inset-0 flex flex-col m-20">
					<h1 class="text-center font-bold text-7xl flex items-start justify-center m-10">WELCOME</h1>
					<div>
						<h1 class="text-center font-bold text-7xl flex items-start justify-center text-purple-800">I'm Tomás</h1>
						<h1 class="text-center font-bold text-7xl flex items-start justify-center text-fuchsia-800">A Web Development</h1>
					</div>
				</div>
			</div>
		</main>
	</div>
</section>


