---
import './src/styles/global.css'
---

<div id="container">
	<main class="flex-auto">
		<div class="relative"> 
			<img class="w-full h-full" src="/src/galery/portada.jpg" alt="portada">
			<div>
				<h1 class="absolute inset-0 text-center font-bold text-7xl flex items-start m-20 justify-center">WELCOME, Im Tomás</h1>
			</div>
		</div>
	</main>

</div>


