---
import '@fontsource/abril-fatface';
import '@fontsource/onest';
// import Header from "../components/Header.astro";
import './src/styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link class="rounded-full" rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Tomy</title>
		<script src="https://kit.fontawesome.com/e3a734c4af.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	:root{color-scheme: light dark;}
	html {
		font-family: "Onest", "Abril Fatface", system-ui, sans-serif;
	}
	body {
		background-color: #1b2631;
		display: flex; 
		flex-direction: column; /* Acomoda los hijos en columna */
		/*justify-content: center;*/ 
	}
	header {
		background-color: #283747;
	}
</style>
